<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="card">
  <div class="card-content">
    <span class="card-title">Создать аккаунт</span>
    <div class="input-field">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{'invalid': form?.get('email')?.invalid && form?.get('email')?.touched}"
      >
      <span class="helper-text red-text"
            *ngIf="form?.get('email')?.touched && form?.get('email')?.invalid"
      >
        <span *ngIf="form?.get('email')?.errors['email']">Write correctly Email</span>
        <span *ngIf="form?.get('email')?.errors['required']">Email is required</span>
      </span>

    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
      >
      <label for="password">Пароль:</label>
      <span class="helper-text red-text"
            *ngIf="form?.get('password')?.touched && form?.get('password')?.invalid"
      >

        <span *ngIf="form?.get('password')?.errors['required']">Email is required</span>
        <span *ngIf="form?.get('password')?.errors['minlength']
              && form?.get('password')?.errors['minlength']['requiredLength']">
           password should be {{form?.get('password')?.errors['minlength']['requiredLength']}} character now
          {{form?.get('password')?.errors['minlength']['actualLength']}}</span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      [disabled]="form?.invalid || form?.disabled"
      class="modal-action btn waves-effect"
    >Войти</button>
  </div>
</form>

